@model SimulacionesTorresCastro.Models.Machine

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Machine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMachine">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amountProductManufacturedPerHour" class="control-label"></label>
                <input asp-for="amountProductManufacturedPerHour" class="form-control" />
                <span asp-validation-for="amountProductManufacturedPerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costPerHour" class="control-label"></label>
                <input asp-for="costPerHour" class="form-control" />
                <span asp-validation-for="costPerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amountHoursToBeFixed" class="control-label"></label>
                <input asp-for="amountHoursToBeFixed" class="form-control" />
                <span asp-validation-for="amountHoursToBeFixed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.functionalState" class="control-label"></label>
                @Html.DropDownListFor(x => Model.functionalState, new SelectList(new[] { "Good", "Bad" }), htmlAttributes: new { @class = "form-control", id = "id" })
                <span asp-validation-for="@Model.functionalState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="purchaseDate" class="control-label"></label>
                <input asp-for="purchaseDate" class="form-control" />
                <span asp-validation-for="purchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Machines">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
