@model SimulacionesTorresCastro.Models.Results

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Results</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateResults">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalConstructedProductsMachine1" class="control-label"></label>
                <input asp-for="totalConstructedProductsMachine1" class="form-control" />
                <span asp-validation-for="totalConstructedProductsMachine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalConstructedProductsMachine2" class="control-label"></label>
                <input asp-for="totalConstructedProductsMachine2" class="form-control" />
                <span asp-validation-for="totalConstructedProductsMachine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grossTotalProfitMachine1" class="control-label"></label>
                <input asp-for="grossTotalProfitMachine1" class="form-control" />
                <span asp-validation-for="grossTotalProfitMachine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grossTotalProfitMachine2" class="control-label"></label>
                <input asp-for="grossTotalProfitMachine2" class="form-control" />
                <span asp-validation-for="grossTotalProfitMachine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="realSimulationProfitMachine1" class="control-label"></label>
                <input asp-for="realSimulationProfitMachine1" class="form-control" />
                <span asp-validation-for="realSimulationProfitMachine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="realSimulationProfitMachine2" class="control-label"></label>
                <input asp-for="realSimulationProfitMachine2" class="form-control" />
                <span asp-validation-for="realSimulationProfitMachine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
