
@{
    ViewData["Title"] = "Simulation execution";
}

<h1>Simulation executed!</h1>
<br>
<h3>
    Please go to <a asp-controller="Result" asp-action="Results">"Results"</a> to see the last simulation results.
</h3>
