@{
    ViewData["Title"] = "SimulationDetailsError";
}


<div class="error">
    <h1>Something went wrong!</h1>
    <h4>Please check if you are detailing the information correctly.</h4>
    <a asp-controller="Home" asp-action="Index">Back to home</a>
</div>